# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/
*.env
*.venv
hohotree_be/venv310/

# VS Code / IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# SQLite / DB / Cache
*.sqlite3
db.sqlite3
*.db
*.db-journal

# Django specific
*.pot
*.pyc
*.mo
*.log
*.pid
*.bak
*.tmp

# Media and static (optional, nếu bạn không muốn version control)
media/
staticfiles/

# Migrations (nếu muốn ignore migrations ban đầu)
**/migrations/*.py
!**/migrations/__init__.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Environments
.env
.env.*

# Git
*.orig
